/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        etc.
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*outline: 2px solid grey;*/
}

:root {
    --base-text: hsl(0, 0%, 5%);
    --base-float: hsl(248, 6%, 97%);
    --service-tile: hsl(0, 0%, 48%);
    --button: hsl(337, 72%, 60%);
    --bg-purple: hsl(259, 83%, 47%);
    --bg-blue: hsl(241, 70%, 58%);
    --bg-projects: hsl(210, 2%, 96%);
}
/* ------------------------------- 2. Typography ----------------------------------- */

h1 h2 h3 h4 h5 h6 {
    font-family: 'Merriweather', serif;
}
p{
    font-family: 'Roboto', sans-serif;
}
.space {
    line-height: 35px;
}
.text-color-purple{
    color: var(--bg-purple);
}
.text-color-main{
    color: var(--base-text);
}
.center-text {
    text-align: center;
}
/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Reusables ----------------------- */

.outer-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*outline: 5px solid red;*/
}

.inner-container {
    outline: 2px solid green;
    display: flex;
    flex-direction: column;
    /*flex-grow-shrink-basis*/
    flex: 0 1 1400px;
    align-items: center;
    margin: 0 20px;

}
/*padding: 100px;*/
/*gap: 2em;*/
button {
    background-color: var(--button);
    color: var(--base-float);
    text-transform: uppercase;
    padding: 10px 20px;
    border-style: none;
    border-radius: 20px;
    box-shadow: 2px 5px 10px hsl(0, 0%, 20%);
}

/* --------------- 3.2 Other --------------------------- */
#service> div{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}
.service-tile__icon{
    width: 100px;
}
.service-tile{
    display: flex;
    flex: 0 1 380px;
    flex-direction: column;
    border: 3px solid #5722CD;
    padding: 40px;
}

/* ------------------------------- 4. Areas ---------------------------------------- */
.work-article{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.work-article:nth-of-type(odd){
    flex-direction: row-reverse;
}

.work-article__image-container{
    flex: 0 1 600px;
    /*box-shadow: 0 32px 28px -10px gray;*/
}

.work-article__image-container img{
    width: 100%;
}

.work-article__info-container{
    flex-basis: 480px;

}

/* --------------- 4.1 Header ------------------------- */

header {
    /*background-color: var(--bg-blue);*/
    background: linear-gradient(to bottom right, var(--bg-blue), var(--bg-purple));
    color: var(--bg-projects);
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    position: relative;
}

.nav-list ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    gap: 50px;
    margin-right: 100px;
}

.img-header {
    width: 79px;
    height: 100px;
    position: absolute;
    display: block;
    bottom: 0;
}

/* --------------- 4.2 Introduction ------------------- */


/* ------------------------------- 5. Media Queries -------------------------------- */

/*Paars #5722CD;*/
/*Blauw #4845E4;*/
/*Roze #ED4385;*/
/*Zwart #0C0C0C (voor standaard tekst);*/
/*Lichtpaars #F2F0FF (voor de grote zwevende woorden, zoals "hello" en "services") Uitzonderingen:*/
/*                                                                                 Lichtgrijs #F3F6F9 (voor de achtergrond van de projecten)*/
/*Grijs #7A7A7A (voor de service-tegel tekst);*/