/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        etc.
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */
* {
    padding: 0;
    margin: 0;
    outline: 1px solid green;
    box-sizing: border-box;
}

:root {
    --base-text: hsl(0, 0%, 5%);
    --base-float: hsl(248, 6%, 97%);
    --service-tile: hsl(0, 0%, 48%);
    --button: hsl(337, 72%, 60%);
    --bg-purple: hsl(259, 83%, 47%);
    --bg-blue: hsl(241, 70%, 58%);
    --bg-projects: hsl(210, 2%, 96%);

}

.image-wrapper {
    flex-basis: 800px;
    flex-grow: 0;
    flex-shrink: 1;
}

/* ------------------------------- 2. Typography ----------------------------------- */

h1 h2 h3 h4 h5 h6 {
    font-family: 'Merriweather', serif;
}
p{
    font-family: 'Roboto', sans-serif;
}
.space {
    line-height: 35px;
}
.text-color-purple{
    color: var(--bg-purple);
}
.text-color-main{
    color: var(--base-text);
}
/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Reusables ----------------------- */

.outer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.inner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 800px;
    flex-grow: 0;
    flex-shrink: 1;
    margin: 0 20px;
    padding: 100px;
    gap: 2em;
}

button {
    background-color: var(--button);
    color: var(--base-float);
    text-transform: uppercase;
    padding: 10px 20px;
    border-style: none;
    border-radius: 20px;
    box-shadow: 2px 5px 10px hsl(0, 0%, 20%);

}

.center-text {
    text-align: center;
}

/* --------------- 3.2 Other --------------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------------- */

header {
    /*background-color: var(--bg-blue);*/
    background: linear-gradient(to bottom right, var(--bg-blue), var(--bg-purple));
    color: var(--bg-projects);
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}

.nav-list ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    gap: 50px;
    margin-right: 100px;
}

/* --------------- 4.2 Introduction ------------------- */


/* ------------------------------- 5. Media Queries -------------------------------- */

/*Paars #5722CD;*/
/*Blauw #4845E4;*/
/*Roze #ED4385;*/
/*Zwart #0C0C0C (voor standaard tekst);*/
/*Lichtpaars #F2F0FF (voor de grote zwevende woorden, zoals "hello" en "services") Uitzonderingen:*/
/*                                                                                 Lichtgrijs #F3F6F9 (voor de achtergrond van de projecten)*/
/*Grijs #7A7A7A (voor de service-tegel tekst);*/